# Note: the prefix is applied to the `app_name` field, hence the doubled "APP_".
APP_APP_NAME=app

APP_LOGGING__DIRECTORY=logs
APP_LOGGING__LEVEL=INFO
APP_LOGGING__FORMATTER=ColoredFormatter
APP_LOGGING__DATE_FORMAT=%d-%m-%Y %H:%M:%S
APP_LOGGING__FULL_COLOR=true
APP_LOGGING__INCLUDE_FUNCTION=true
